@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - QueryHub</title>
    @Styles.Render("~/Styles/bootstrap")
    @Styles.Render("~/Styles/site")

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    @Scripts.Render("~/Scripts/bootstrap")


    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .container-fluid {
            padding: 0;
        }

        .navbar {
            width: 100%;
        }

        .navbar-brand {
            font-weight: bold;
            font-size: 1.5rem;
        }


        .navbar-toggler {
            border-color: rgba(255, 255, 255, 0.1);
        }

        .navbar-toggler-icon {
            background-color: white;
        }

        .form-inline {
            display: flex;
            align-items: center;
        }



            .form-inline .form-control {
                width: 200px;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm text-light navbar-light">
            <a class="navbar-brand" href="#">QueryHub</a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavBar">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/categories">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/allquestions">Questions</a>
                    </li>

                    @if (Session["CurrentUserName"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/account/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account/register">Register</a>
                        </li>
                    }

                    @if (Session["CurrentUserName"] != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src=" ~/Images/user.png" width="20px" />
                                @Session["CurrentUserName"]
                            </a>
                            <div class="dropdown-menu bg-info">
                                <a class="dropdown-item" href="/account/logout">Logout</a>
                                <a class="dropdown-item" href="/account/changeprofile">Change Profile</a>
                                <a class="dropdown-item" href="/account/changepassword">Change Password</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>

            <form class="form-inline my-2 my-lg-0" action="/home/search">
                <input type="search" class="form-control mr-sm-2" placeholder="Search" name="str" />
                <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
            </form>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
